<div class="row my-3">
  <div class="col-lg-1"></div>
  <div class="col-lg-10">
    <form>
      <div class="form-group">
        <label>Name:</label>
        <input type="text" [ngModel]="productName" (ngModelChange)="onNameChange($event)" class="form-control"
          [class.is-invalid]="nameValidationMessage" placeholder="Enter product name" name="name">
        <div class="invalid-feedback">
          {{nameValidationMessage}}
        </div>
      </div>
      <div class="form-group">
        <label>Code:</label>
        <input type="text" [ngModel]="productCode" (ngModelChange)="onCodeChange($event)" class="form-control"
          [class.is-invalid]="codeValidationMessage" placeholder="Enter product code" name="code">
        <div class="invalid-feedback">
          {{codeValidationMessage}}
        </div>
      </div>
      <div class="form-group">
        <label>Price:</label>
        <input type="number" [ngModel]="productPrice" (ngModelChange)="onPriceChange($event)" class="form-control"
        [class.is-invalid]="priceValidationMessage" placeholder="Enter product price" name="price">
        <div class="invalid-feedback">
          {{priceValidationMessage}}
        </div>
      </div>
      <div>
        <img [src]="imageUrl" class="d-block mx-auto mb-4 product-image" (click)="uploadImage()">
        <div class="row d-flex flex-row justify-content-center">
          <div class="custom-file overflow-hidden mb-5 w-75">
            <input #fileUpload class="custom-file-input" type="file" [accept]="'.jpg, .jpeg, .png'"
              (change)="onImageChange(fileUpload.files)" name="image" />
            <label class="custom-file-label">{{ fileName || 'Choose file'}}</label>
          </div>
          <div class="mx-1">
            <button type="button" class="btn btn-outline-danger" (click)="onImageRemove()">Remove</button>
          </div>
        </div>
      </div>
    </form>
    <div class="row">
      <div class="col-lg-6">
        <button type="submit" class="btn btn-block btn-outline-success" (click)="save()">Save</button>
      </div>
      <div class="col-lg-6">
        <button type="button" class="btn btn-block btn-outline-secondary" (click)="close()">Cancel</button>
      </div>
    </div>
  </div>
  <div class="col-lg-1"></div>
</div>
