<nav>
  <ul class="pagination">
    <li class="page-item" [class.disabled]="pagination.currentPage === 1">
      <a class="page-link" (click)="setPage(1)">First</a>
    </li>
    <li class="page-item" [class.disabled]="pagination.currentPage === 1">
      <a class="page-link" (click)="setPage(pagination.currentPage - 1)">Previous</a>
    </li>
    <li class="page-item" *ngFor="let page of pages" [class.active]="pagination.currentPage === page">
      <a class="page-link" (click)="setPage(page)">{{page}}</a>
    </li>
    <li class="page-item" [class.disabled]="pagination.currentPage === pagination.totalPages">
      <a class="page-link" (click)="setPage(pagination.currentPage + 1)">Next</a>
    </li>
    <li class="page-item" [class.disabled]="pagination.currentPage === pagination.totalPages">
      <a class="page-link" (click)="setPage(pagination.totalPages)">Last</a>
    </li>
  </ul>
</nav>
