<div class="row">
  <div class="col-lg-6 py-2">
    <input [(ngModel)]="searchQuery" class="form-control mr-2 d-inline" type="text" placeholder="Search">
  </div>
  <div class="col-lg-2 py-2">
    <button (click)="search(searchQuery)" class="btn btn-block btn-outline-success" type="button">Search</button>
  </div>
  <div class="col-lg-2 py-2">
    <button (click)="export()"  class="btn btn-block btn-outline-success" type="button">Export</button>
  </div>
  <div class="col-lg-2 py-2">
    <button (click)="create()" class="btn btn-block btn-success" type="button">Create</button>
  </div>
</div>
<div class="row mb-5">
  <div *ngFor="let product of products" class="col-lg-4 my-2">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-lg-10 py-2">
            {{product.name}}
          </div>
          <div class="col-lg-2">
            <button class="btn btn-outline-success float-right" type="button" (click)="update(product)"><i
                class="fa fa-2x fa-edit"></i></button>
          </div>
        </div>
      </div>
      <img class="card-img-top" [src]="product.imageUrl || './../../assets/images/empty_product.svg'"
        style="height: 200px;">
      <div class="card-body">
        <h5 class="card-title">Code: {{product.code}}</h5>
        <p class="card-text">Price: {{product.price.toFixed(2)}}$</p>
        <p class="card-text">Last updated: {{product.lastUpdatedUtc | date: 'medium'}}</p>
        <div class="row">
          <div class="col-lg-6">
            <button *ngIf="!product.priceConfirmed" (click)="confirmPrice(product)"
              class="btn btn-block btn-outline-warning" type="button">Confirm
              price</button>
          </div>
          <div class="col-lg-6">
            <button class="btn btn-block btn-danger" (click)="delete(product.id)" type="button">Delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="pagination && pagination.totalPages" class="row mb-5">
  <div class="col-lg-3"></div>
  <div class="col-lg-6 d-flex justify-content-center">
    <app-pagination [pagesToShow]="5" [pagination]="pagination" (currentPageChanged)="changePage($event)"></app-pagination>
  </div>
  <div class="col-lg-3"></div>
</div>
